@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  position: relative;
}
.container .nav_top {
  background-color: #6F00FF;
}
.container .nav_top p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-shadow: 3px 6px 6.5px #000;
}
.container .nav_bottom {
  width: 100%;
  background-color: #000;
}
.container .nav_bottom-center {
  position: relative;
}
.container .nav_bottom-center .list_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .nav_bottom-center .list_container img {
  height: 41px;
}
.container .nav_bottom-center .ul_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  padding: 10px 0px;
}
.container .nav_bottom-center .ul_list li {
  padding: 15px 45px;
}
.container .nav_bottom-center .ul_list li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.container .nav_bottom-center .ul_list li a #icon {
  font-size: 30px;
}
.container .nav_bottom-center .ul_list li a i {
  font-size: 18px;
}
.container .nav_bottom-center .list_ionc {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  padding: 10px 0px;
}
.container .nav_bottom-center .list_ionc li {
  padding: 0px 15px;
}
.container .nav_bottom-center .list_ionc li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.container .nav_bottom-center .list_ionc li a #icon {
  font-size: 30px;
}
.container .input_text {
  width: 320px;
  height: 45px;
  background: #D9D9D9;
  border: 1px solid #D9D9D9;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;
}
.container .input_text input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.container .input_text1 {
  width: 320px;
  height: 45px;
  background: #D9D9D9;
  border: 1px solid #D9D9D9;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;
  display: none;
}
.container .input_text1 input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.container .carousel {
  position: relative;
  width: 100%;
}
.container .carousel .carousel_content .button_register {
  position: absolute;
  bottom: 20%;
  left: 18%;
}
.container .carousel .carousel_content .button_register button {
  background-color: #D9D9D9;
  border: none;
  outline: none;
  width: 288px;
  height: 76px;
  border: 1px solid #000;
  cursor: pointer;
}
.container .carousel .carousel_content .button_register button a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.container .carousel img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.container .carousel .img2 {
  display: none;
  object-fit: cover;
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
}
.container .product_list {
  width: 100%;
  position: relative;
  padding: 45px 0px;
}
.container .product_list-content {
  display: flex;
  justify-content: center;
}
.container .product_list-content .content_left {
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
}
.container .product_list-content .content_left h2 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
.container .product_list-content .content_left .filter {
  font-size: 18px;
  font-weight: 100;
  padding: 15px 0px 20px 0px;
}
.container .product_list-content .content_left p {
  font-size: 18px;
  padding: 0px 10px;
  color: #000000;
}
.container .product_list-content .content_right {
  position: relative;
  width: 900px;
}
.container .product_list-content .content_right .product_content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 40px;
}
.container .product_list-content .content_right .item {
  width: 265px;
  height: auto;
  position: relative;
  text-align: center;
  margin: 0px 10px;
  display: none;
}
.container .product_list-content .content_right .item .title {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 16px;
}
.container .product_list-content .content_right .item .color {
  text-transform: uppercase;
  font-size: 14px;
}
.container .product_list-content .content_right .item .color b {
  font-weight: bold;
  color: #000000;
}
.container .banner_content {
  position: relative;
  width: 100%;
  background-color: #000000;
}
.container .banner_content h2 {
  padding: 50px 0px 25px 0px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 34px;
}
.container .banner_content i {
  font-size: 30px;
  font-weight: 100;
}
.container .banner_content .button_signup {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-bottom: 55px;
}
.container .banner_content .button_signup button {
  outline: none;
  background: #9747FF;
  padding: 20px 60px;
  border: 2px solid #FFFFFF;
}
.container .banner_content .button_signup button a {
  text-decoration: none;
  font-size: 30px;
  padding-right: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
}
.container .banner_content .bg_adiclub {
  position: absolute;
  top: 0px;
  left: 0px;
}
.container .banner_content .bg_adiclub1 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.container .footer_end {
  width: 100%;
  position: relative;
  background-color: #9747FF;
}
.container .footer_end-bg {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}
.container .footer_end-bg .text_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container .footer_end-bg .text_content a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
}

.thumnail_text {
  display: inline-block;
  width: 100%;
  position: relative;
}
.thumnail_text a {
  position: relative;
  padding-top: 110%;
  display: block;
}
.thumnail_text a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0;
  top: 0;
}

.heart1 {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 25px;
}
.heart1 img {
  width: 30px;
}

.title_top {
  position: absolute;
  z-index: 1000;
  top: -15px;
}
.title_top .text_black {
  background-color: #000;
  color: #FFFFFF;
  padding: 7px 15px;
}

.footer_content {
  background-color: #D9D9D9;
  position: relative;
  width: 100%;
}
.footer_content-bg {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}
.footer_content-bg .text_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_content-bg .text_content ul {
  list-style-type: none;
}
.footer_content-bg .text_content ul li {
  padding-top: 10px;
}
.footer_content-bg .text_content ul li #test {
  font-size: 24px;
  color: #000000;
}
.footer_content-bg .text_content ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.double-slider-box {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 10px 10px;
}

h3.range-title {
  margin-bottom: 4rem;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #000;
}
.range-slider .center_flex {
  position: relative;
  top: -45px;
}

.range-slider::after {
  content: "";
  position: absolute;
  left: 0px;
  border-radius: 50%;
  width: 5px;
  background-color: #000;
  height: 5px;
  top: -2px;
}

.range-slider::before {
  content: "";
  position: absolute;
  right: 0px;
  border-radius: 50%;
  width: 5px;
  background-color: #000;
  height: 5px;
  top: -2px;
}

.slider-track {
  height: 100%;
  position: absolute;
  background-color: #fe696a;
}

.range-slider input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #9747FF;
  background-color: none;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #FFF;
  background: #FFF;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

.input-box {
  display: flex;
}

.min-box,
.max-box {
  width: 50%;
}

.min-box {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.double-slider-box1 {
  display: none;
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 20px 0px;
}
.double-slider-box1 h3.range-title {
  margin-bottom: 4rem;
}
.double-slider-box1 .range-slider1 {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #000;
}
.double-slider-box1 .range-slider1 .center_flex {
  position: relative;
  top: -45px;
}
.double-slider-box1 .range-slider1::after {
  content: "";
  position: absolute;
  left: 0px;
  border-radius: 50%;
  width: 5px;
  background-color: #000;
  height: 5px;
  top: -2px;
}
.double-slider-box1 .range-slider1::before {
  content: "";
  position: absolute;
  right: 0px;
  border-radius: 50%;
  width: 5px;
  background-color: #000;
  height: 5px;
  top: -2px;
}
.double-slider-box1 .slider-track1 {
  height: 100%;
  position: absolute;
  background-color: #fe696a;
}
.double-slider-box1 .range-slider1 input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}
.double-slider-box1 input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #9747FF;
  background-color: none;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}
.double-slider-box1 input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #FFF;
  background: #FFF;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}
.double-slider-box1 .input-box1 {
  display: flex;
}
.double-slider-box1 .min-box1,
.double-slider-box1 .max-box1 {
  width: 50%;
}
.double-slider-box1 .min-box1 {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.double-slider-box1 .input-wrap1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

input[type=checkbox] {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #cfcfcf;
  border-radius: 0.25rem;
  appearance: none;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #6F00FF;
}

input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 5px;
  height: 13px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

input[type=checkbox]:checked::before {
  border-color: #fff;
}

label {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  position: relative;
}

#h2_content {
  padding-top: 38px;
  padding-bottom: 10px;
}

form a {
  color: black;
  display: flex;
  justify-content: right;
  width: 70%;
  font-size: 16px;
}

.cricle_color {
  position: relative;
  right: 0px;
  display: flex;
  align-items: center;
}
.cricle_color .white_color {
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 0px;
  bottom: 0px;
}
.cricle_color .white1_color {
  background-color: #ECFBF0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 8px;
  bottom: 0px;
}
.cricle_color .white2_color {
  background-color: #F1EEE6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 16px;
  bottom: 0px;
}
.cricle_color .blue_color {
  background-color: #0D5385;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: -14px;
  bottom: 0px;
}
.cricle_color .blue1_color {
  background-color: #9ED6FF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: -2px;
  bottom: 0px;
}
.cricle_color .blue2_color {
  background-color: #0094FF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 10px;
  bottom: 0px;
}
.cricle_color .blue3_color {
  background-color: #3BD0FF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 20px;
  bottom: 0px;
}
.cricle_color .blue4_color {
  background-color: #00618B;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 27px;
  bottom: 0px;
}
.cricle_color .green_color {
  background-color: #248B00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 0px;
  bottom: 0px;
}
.cricle_color .green1_color {
  background-color: #0C4C22;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 10px;
  bottom: 0px;
}
.cricle_color .green2_color {
  background-color: #98FFBB;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 18px;
  bottom: 0px;
}
.cricle_color .green3_color {
  background-color: #D2FFE1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 25px;
  bottom: 0px;
}

.color_flex {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.button_apply {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
  margin: 40px 0px;
  border-radius: 30px;
  cursor: pointer;
}
.button_apply button {
  background: none;
  outline: none;
  text-align: center;
  border: none;
  padding: 15px 0px;
}
.button_apply button a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
}

.button_load {
  margin: 20px 0px;
  background: #FFFFFF;
  padding: 15px 70px;
  border: 1px solid #9747FF;
  border-radius: 40px;
  cursor: pointer;
}
.button_load button {
  background: none;
  outline: none;
  border: none;
  color: #000000;
}
.button_load button a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #6F00FF;
}

ion-icon.is-active {
  color: red;
  stroke: none;
}

ion-icon {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6F00FF;
  padding: 5px 5px;
}

.list_icon {
  width: 100%;
  position: relative;
}
.list_icon-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0px;
}
.list_icon-content .icon_list ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_icon-content .icon_list ul li {
  padding: 0px 15px;
}
.list_icon-content .icon_list ul li img {
  width: 60px;
  height: 40px;
}

.icon_ion {
  font-size: 5px;
  color: white;
}

#facebook {
  background-color: #0D5385;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding: 5px 5px;
}

#instagram {
  background-color: #9747FF;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding: 5px 5px;
}

#snap_chat {
  background-color: yellow;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding: 5px 5px;
}

#content {
  font-size: 30px;
  color: #D9D9D9;
}

#visa {
  background-color: #D9D9D9;
  border: 1px sloid #FFFFFF;
  border-radius: 5px;
  width: 70px;
}

#mastercard {
  background-color: #000000;
  border-radius: 5px;
}

#paypal {
  background-color: #D9D9D9;
  border-radius: 5px;
  border: 2px solid #D9D9D9;
}

#afterpay {
  font-size: 16px;
}
#afterpay img {
  background-color: #98FFBB;
  width: 60px;
  height: 30px;
  padding: 2px 15px;
  border-radius: 5px;
  color: #000000;
}

.accordion {
  display: none;
}

.accordion {
  width: 100%;
  background: none;
  margin: 0 5px;
  border: none;
  outline: none;
}

.accordion .accordion-content {
  margin: 5px 0px;
  background: #FFF7F0;
  overflow: hidden;
  background-color: #9747FF;
}
.accordion .accordion-content header .title {
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.accordion .accordion-content header i {
  color: #FFFFFF;
}
.accordion .accordion-content .center_flex {
  background-color: #D9D9D9;
  text-align: left;
}

.accordion-content header {
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 35px;
}

.accordion-content header .title {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.accordion-content header i {
  font-size: 15px;
  color: #333;
}

.accordion-content .description {
  height: 0;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
  display: flex;
  max-width: 1200px;
  justify-content: center;
}
.accordion-content .description ul {
  list-style-type: none;
}
.accordion-content .description ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.accordion-content .description ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.search {
  position: absolute;
  left: 0;
  bottom: -39px;
  width: 100%;
  padding: 5px 5px;
  background: white;
  display: flex;
  transition: 2s ease-in-out;
  display: none;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0);
}
.search .center_flex {
  max-width: 1200px;
  margin: auto;
}
.search .center_flex input {
  width: 260px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.search_content i {
  color: white;
  font-size: 22px;
}

.off {
  display: flex;
}

.menu_list {
  text-align: center;
  background: #000;
  padding: 30px 0px;
  display: none;
}
.menu_list .ul_list1 {
  padding: 10px 0px;
  list-style-type: none;
  text-align: center;
}
.menu_list .ul_list1 li {
  padding: 10px 0px;
  border-bottom: 1px solid #FFFFFF;
}
.menu_list .ul_list1 li a {
  text-decoration: none;
  color: white;
  justify-content: center;
}

.on {
  display: block;
}

.search_content {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container .product_list-content .content_right .product_content {
    grid-template-columns: auto auto;
  }
  .container .nav_bottom-center .list_container {
    justify-content: space-between;
    padding: 5px 5px;
  }
  .container .nav_bottom-center .list_container img {
    display: none;
  }
  .container .nav_bottom-center .list_container .img_center {
    display: block !important;
  }
  .container .nav_bottom-center .list_container .img_center img {
    height: 35px !important;
    display: block !important;
  }
  .container .input_text {
    display: none;
  }
  .container .input_text1 {
    display: flex;
    width: 210px;
    height: 20px;
    padding: 15px 20px;
    margin: 10px 15px;
  }
}
@media only screen and (max-width: 1380px) {
  .container .nav_bottom-center .ul_list li {
    padding: 15px 20px;
  }
}
@media only screen and (max-width: 1180px) {
  .container .input_text {
    width: 220px;
    height: 20px;
    margin: 10px 10px;
  }
  .container .product_list-content .content_left {
    width: 32%;
  }
  .container .product_list-content .content_right .item {
    width: auto;
  }
  .list_icon-content .icon_list ul {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1015px) {
  .container .nav_bottom-center .ul_list li {
    padding: 15px 10px;
  }
  .container .input_text {
    width: 180px;
    margin: 10px 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .container .carousel .carousel_content .button_register {
    left: 8%;
  }
  .container .carousel .carousel_content .button_register button {
    width: 240px;
    height: 55px;
  }
  .container .carousel .carousel_content .button_register button a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .container .product_list-content .content_left {
    padding-right: 5px;
    padding-left: 5px;
  }
  .container .product_list-content .content_right .item .title {
    font-size: 14px;
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 875px) {
  .container .nav_bottom-center .list_container img {
    height: 30px;
  }
  .container .nav_bottom-center .ul_list li a {
    font-size: 14px;
  }
  .container .nav_bottom-center .ul_list li a #icon {
    font-size: 24px;
  }
  .container .nav_bottom-center .ul_list li a i {
    font-size: 16px;
  }
  .container .nav_bottom-center .ul_list1 li a {
    font-size: 14px;
  }
  .container .nav_bottom-center .ul_list1 li a #icon {
    font-size: 24px;
  }
  .container .input_text {
    width: 170px;
    padding: 16px 20px;
  }
  .container .product_list-content .content_left {
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .container .nav_bottom-center .list_ionc li {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .container .nav_bottom-center .ul_list {
    display: none;
  }
  .container .banner_content h2 {
    padding: 70px 5px 25px 5px;
    font-size: 28px;
  }
  .container .banner_content .button_signup button {
    padding: 10px 25px;
  }
  .container .banner_content .button_signup button a {
    font-size: 20px;
  }
  .container .banner_content .button_signup button img {
    display: none;
  }
  .container .carousel img {
    display: none;
  }
  .container .carousel .carousel_content .button_register {
    left: unset;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container .carousel .carousel_content .button_register button {
    width: 180px;
    height: 40px;
  }
  .container .carousel .carousel_content .button_register button a {
    font-size: 16px;
  }
  .container .img2 {
    display: block !important;
    height: auto;
  }
  .container .nav_top {
    padding: 0px 10px;
  }
  .container .nav_top p {
    font-size: 16px;
  }
  .menu {
    display: block !important;
    color: white;
    font-size: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .container .product_list-content .content_left {
    width: 40%;
  }
  .footer_content-bg .text_content {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .footer_content-bg .text_content ul {
    padding-top: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container .nav_top {
    padding: 0px 10px;
  }
  .container .nav_top p {
    font-size: 14px;
  }
  .container .product_list-content .content_right .item .title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 575px) {
  .content_left {
    display: none;
  }
  .content_left1 {
    display: grid !important;
    grid-template-columns: auto auto;
    justify-content: space-around;
    width: 100%;
    padding: 30px 10px;
  }
  .content_left1 .filter {
    padding: 10px 0px;
  }
  .container .product_list-content {
    flex-wrap: wrap;
  }
  .container .product_list-content .content_right .item .title {
    font-size: 16px;
  }
  .button_apply {
    margin: 20px 0px;
  }
  form a {
    justify-content: center;
  }
  input[type=checkbox] {
    margin: 0px 10px;
  }
  .double-slider-box1 {
    display: block;
  }
  .double-slider-box {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  .footer_content {
    background: none;
  }
  .footer_content-bg {
    padding: 0px;
  }
  .footer_content-bg .text_content {
    padding: unset;
    display: none;
  }
  .footer_content-bg .accordion {
    display: block !important;
  }
  .container .banner_content h2 {
    font-size: 20px;
  }
  .container .banner_content i {
    font-size: 21px;
  }
  .container .product_list-content .content_right .item .title {
    font-size: 12px;
  }
  .container .input_text1 {
    display: none;
  }
  .container .nav_bottom-center .list_container {
    padding: 5px 20px;
  }
  .search_content {
    display: block;
  }
}
@media only screen and (max-width: 435px) {
  .container .footer_end {
    background: #000;
  }
  .container .footer_end-bg .text_content {
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .container .banner_content .button_signup {
    padding-bottom: 70px;
  }
  .container .banner_content .button_signup button {
    padding: 5px 10px;
    text-align: center;
  }
  .container .banner_content .button_signup button a {
    font-size: 16px;
  }
  .container .banner_content .bg_adiclub img {
    width: 110px;
  }
  .container .banner_content .bg_adiclub1 img {
    width: 90px;
  }
  .container .banner_content h2 {
    font-size: 16px;
  }
  .container .banner_content i {
    font-size: 16px;
  }
  .container .carousel .img2 {
    display: none !important;
  }
  .container .carousel img {
    display: block;
  }
  .container .carousel .carousel_content .button_register {
    display: none;
  }
  .container .product_list {
    padding: 10px 0px;
  }
  .container .product_list-content .content_right .product_list {
    column-gap: unset;
  }
  .container .product_list-content .content_right .item .title {
    padding-top: 10px;
  }
  .container .product_list-content .content_right .item .color {
    font-size: 12px;
  }
  .container .nav_top p {
    font-size: 12px;
  }
  .container .nav_bottom-center .list_container .img_center img {
    height: 24px !important;
  }
  .heart1 ion-icon {
    width: 20px;
    height: 20px;
  }
  .button_load {
    padding: 10px 20px;
  }
  .button_load button a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .container .nav_top p {
    font-size: 7px;
  }
  .container .product_list-content .content_left1 .left_context h2 {
    font-size: 21px;
  }
  .container .product_list-content .content_right .item .title {
    font-size: 10px;
  }
  .container .product_list-content .flowers-wrap form #h2_content {
    font-size: 20px;
    padding-top: 42px;
  }
  .container .footer_end-bg {
    padding: 30px 3px;
  }
  .button_apply button {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 325px) {
  .container .nav_top p {
    font-size: 7px;
  }
}
.menu {
  display: none;
}

.img_center {
  display: none;
}
.img_center img {
  height: 41px;
}

.content_left1 {
  display: none;
}

.center_flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
