@media only screen and (max-width:2440px) {
}
@media only screen and (max-width:1920px){
}
@media only screen and (max-width:1600px) {
}
@media only screen and (max-width:1280px) {
}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:960px) {}
@media only screen and (max-width:768px) {
    .container{
        .product_list{
            &-content{
                .content_right{
                    .product_content{
                        grid-template-columns: auto auto;
                    }
                }
            }
        }
        .nav_bottom{
            &-center{
                .list_container{
                    justify-content: space-between;
                    padding: 5px 5px;
                    img{
                        display: none;
                    }
                    .img_center{
                        display: block !important;
                      img{
                        height: 35px !important;
                        display: block !important;
                      }
                    }
                }
            }
        }
        .input_text{
            display: none;
        }
        .input_text1{
            display: flex;
            width: 210px;
            height: 20px;
            padding: 15px 20px;
            margin: 10px 15px;
        }
    }
}
@media only screen and (max-width:320px) {}
@media only screen and (max-width:280px) {}

//Missed Responsive
@media only screen and (max-width:1550px) {
}
@media only screen and (max-width:1380px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list li{
                    padding: 15px 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:1180px) {
   .container{
        .input_text{
            width: 220px;
            height: 20px;
            margin: 10px 10px;
        }
        .product_list{
            &-content{
                .content_left{
                    width: 32%;
                }
                .content_right{
                    .item{
                        width: auto;
                    }
                }
            }
        }
    }
    .list_icon{
        &-content{
            .icon_list{
                ul{
                    flex-wrap: wrap;
                }
            }
        }
    }
}
@media only screen and (max-width:1015px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list li{
                    padding: 15px 10px;
                }
            }
        }
        .input_text{
            width: 180px;
            margin: 10px 10px;
        }
    }
}
@media only screen and (max-width:1000px) {
    .container{
        .carousel{
            .carousel_content{
                .button_register{
                    left: 8%;
                    button{
                        width: 240px;
                        height: 55px;
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:900px) {
    .container{
        .product_list{
            &-content{
                .content_left{
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .content_right{
                    .item{
                        .title{
                            font-size: 14px;
                            padding-bottom:5px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:875px) {
    .container{
        .nav_bottom{
            &-center{
                .list_container{
                    img{
                        height: 30px;
                    }
                }
                .ul_list{
                    li {
                        a{
                            font-size: 14px;
                            #icon{
                                font-size: 24px;
                            }
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .ul_list1{
                    li {
                        a{
                            font-size: 14px;
                            #icon{
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        .input_text{
            width: 170px;
            padding: 16px 20px;
        }
        .product_list{
            &-content{
                .content_left{
                    width: 40%;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width:800px){
    .container{
        .nav_bottom{
            &-center{
                .list_ionc li{
                    padding: 0px 10px;
                }
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list{
                    display: none;
                    
                }
            }
        }
        .banner_content{
            h2{
                padding: 70px 5px 25px 5px;
                font-size: 28px;
            }
            .button_signup{
                button{
                    padding: 10px 25px;
                    a{
                        font-size: 20px;
                    }
                    img{
                        display: none;
                    }
                }
            }
        }
        .carousel{
            img{
                display: none;
            }
            .carousel_content{
                .button_register{
                    left: unset;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button{
                        width: 180px;
                        height: 40px;
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .img2{
            display: block !important;
            height: auto;
        }
        .nav_top{
           padding: 0px 10px;
           p{
            font-size: 16px ;
           }
        }
    }
    .menu{
        display: block !important;
        color: white;
        font-size: 24px;
    }
}
@media only screen and (max-width:700px){
    .container{
        .product_list{
            &-content{
                .content_left{
                    width: 40%;
                }
            }
        }
    }
    .footer_content{
        &-bg{
            .text_content{
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0px 20px;
                ul{
                    padding-top: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:675px){
}
@media only screen and (max-width:625px) {
}
@media only screen and (max-width:600px) {
    .container{
        .nav_top{
            padding: 0px 10px;
            p{
             font-size: 14px ;
            }
         }
         .product_list{
            &-content{
                .content_right{
                    .item{
                        .title{
                            font-size: 12px;
                        }
                    }
                }
            }
         }
    }
}
@media only screen and (max-width:575px){
    .content_left{
        display: none;
    }
    .content_left1{
        display: grid !important;
        grid-template-columns: auto auto;
        justify-content: space-around;
        width: 100%;
        padding: 30px 10px;
        .filter{
            padding: 10px 0px;
        }
    }
    .container{
        .product_list{
            &-content{
                flex-wrap: wrap;
                .content_right{
                    .item{
                        .title{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .button_apply{
        margin: 20px 0px;
    }
    form a{
        justify-content: center;
    }
    input[type=checkbox] {
        margin: 0px 10px;
    }
    .double-slider-box1{
        display: block;
    }
    .double-slider-box{
        display: none;
    }
}
@media only screen and (max-width:525px) {
    .footer_content{
        background: none;
        &-bg{
            padding: 0px;
           .text_content{
            padding: unset;
            display: none;
           }
            .accordion{
                display: block !important;
            }
        }
    }
    .container{
        .banner_content h2{
            font-size: 20px;
        }
        .banner_content i{
            font-size: 21px;
        }
        .product_list{
            &-content{
                .content_right{
                    .item{
                        .title{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .input_text1{
            display: none;
        }
        .nav_bottom{
            &-center{
                .list_container{
                    padding: 5px 20px;
                }
            }
        }
    }
    .search_content{
        display: block;
    }
}
@media only screen and (max-width:435px){
    .container{
        .footer_end{
            background: #000;
            &-bg{
                .text_content{
                    flex-wrap: wrap;
                    padding: 0px 10px;
                }
            }
        }
        .banner_content{
            .button_signup{
                padding-bottom: 70px;
                button{
                    padding: 5px 10px;
                    text-align: center;
                    a{
                        font-size: 16px;
                    }
                }
            }
            .bg_adiclub{
                img{
                    width: 110px;
                }
            }
            .bg_adiclub1{
                img{
                    width: 90px;
                }
            }
            h2{
                font-size: 16px;
            }
            i{
                font-size: 16px;
            }
        }
        .carousel{
            .img2{
                display: none !important;
            }
            img{
                display: block;
            }
            .carousel_content{
                .button_register{
                    display: none;
                }
            }
        }
        .product_list{
            padding: 10px 0px;
            &-content{
                .content_right{
                    .product_list{
                        column-gap: unset;
                    }
                    .item{
                        .title{
                            padding-top: 10px;
                        }
                        .color{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .nav_top{
            p{
               font-size: 12px;
            }
        }
        .nav_bottom{
            &-center{
                .list_container{
                    .img_center img{
                        height: 24px !important;
                    }
                }
            }
        }
    }
    .heart1{
        ion-icon{
            width: 20px;
            height: 20px;
        }
    }
    .button_load{
        padding: 10px 20px;
        button{
            a{
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width:375px) {
    .container{
        .nav_top{
            p{
                font-size: 7px;
            }
        }
        .product_list{
            &-content{
                .content_left1{
                    .left_context{
                        h2{
                            font-size: 21px;
                        }
                    }    
                }
                .content_right{
                    .item{
                        .title{
                            font-size: 10px;
                        }
                    }
                }
                .flowers-wrap{
                    form{
                        #h2_content{
                            font-size: 20px;
                            padding-top: 42px;
                        }
                    }
                }
            }
        }
        .footer_end{
            &-bg{
                padding: 30px 3px;
            }
        }
    }
    .button_apply{
        button{
            padding: 10px 0px;
        }
    }
}
@media only screen and (max-width:325px) {
    .container{
        .nav_top{
            p{
                font-size: 7px;
            }
        }
    }
}