.cricle_color{
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    .white_color{
        background-color: #ffffff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 0px;
        bottom: 0px;
    }
    .white1_color{
        background-color: #ECFBF0;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 8px;
        bottom: 0px;
    }
    .white2_color{
        background-color: #F1EEE6;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 16px;
        bottom: 0px;
    }
    .blue_color{
        background-color: #0D5385;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: -14px;
        bottom: 0px;
    }
    .blue1_color{
        background-color: #9ED6FF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: -2px;
        bottom: 0px;
    }
    .blue2_color{
        background-color: #0094FF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 10px;
        bottom: 0px;
    }
    .blue3_color{
        background-color: #3BD0FF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 20px;
        bottom:0px;
    }
    .blue4_color{
        background-color: #00618B;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 27px;
        bottom: 0px;
    }
    .green_color{
        background-color: #248B00;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 0px;
        bottom: 0px;
    }
    .green1_color{
        background-color: #0C4C22;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 10px;
        bottom: 0px;
    }
    .green2_color{
        background-color: #98FFBB;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 18px;
        bottom: 0px;
    }
    .green3_color{
        background-color: #D2FFE1;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        right: 25px;
        bottom: 0px;
    }
}
.color_flex{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 10px;
}