input[type="checkbox"]{
    position: relative;
    width: 28px;
    height: 28px;
    border:1px solid #cfcfcf ;
    border-radius: .25rem;
    appearance: none;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background-color: #6F00FF;
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    width: 5px;
    height: 13px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}
input[type=checkbox]:checked::before{
    border-color: #fff;
}
label{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    position: relative;
}
#h2_content{
    padding-top: 38px;
    padding-bottom: 10px;
}
form{
    a{
        color: black;
        display: flex;
        justify-content: right;
        width: 70%;
        font-size: 16px;
    }
    
}